extends ../../../node_modules/jade-bootstrap/_bootstrap.pug
append styles
	// Custom styles for this template
	link(href='./css/starter-template.css', rel='stylesheet')
block body
	+navbar-fixed("Experience Summer Work USA","navbar","inverse")
		+nav_item("#","active") Home
		+nav_item(profileView) Profile

		if (profileRole === 1)  
			+nav_item('/sponsor_docs/listDocs') Documents

		+nav_item("#") Documents

		if (profileRole === 3)
			+nav_item("/listUsers") User List

		if (profileRole === 3)
			+nav_item("/student/listStudents") Student List

		if (profileRole === 3)
			+nav_item("/sponsor/listSponsors") Sponsor List

		if (profileRole === 3)
			+nav_item("/employer/listEmployers") Employer List

		+nav_item("/logout") Logout
	.container
		.starter-template
			h1= welcome
			p.lead
				| Use the menu at the top to navigate to your destination
